/* App.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif, sans-serif;
  background: linear-gradient(45deg, rgb(5, 10, 27) 0%, rgba(10, 17, 37, 0.8) 70%, #000414 100%);
  color: #fff;
  width: 100%;
}
/* police d'écriture*/
.textWithShadow {
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.textWithShadowNavbarBrand {
  font-weight: bold;
  text-shadow: 2px 2px 4px black,  0 0 1em rgba(255, 255, 255, 0.4);
}

.textWithShadowH3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.textWithShadowH5 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}

.textWithShadowP {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-family: lato, sans-serif;
  text-align: left;
}

h1, h2, h3 {
  text-align: center;
}

p {
  text-align: left;
}

blockquote {
  text-align: center;
}


/*background App*/
.backgroundHome {
    position: absolute;  
    width: 100%;
    min-height: 100vh;  
    background-image: url('./assets/bgBanner.png');  
    background-size: cover;
    background-position: center 80%;
    background-repeat: no-repeat;
    z-index: -1; 
}


/* style card about*/
.cardBg{
  background: rgba(0, 0, 0, 0.70); 
  border-radius: 10px; 
}

/*centrer SignIn And Up Form*/
.SignInAndUpForm{
  min-height: 70vh;  
}

/* SignIn sépration btns*/
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espace entre les lignes et le texte */
}

.separator-line {
  flex: 1; 
  border: 0;
  height: 2px;
  background-color: #000;
}

.separator-text {
  font-size: 1rem;
  color: #666; 
  font-weight: bold;
}
