/* App.css */
:root {
  --bgcolor: linear-gradient(
    to right,
    #a4a28a 0%,
    rgba(192, 189, 184, 0.8) 70%,
    #9c9c8c 100%
  );
}

/* css de base pour l'App*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif, sans-serif;
  background: var(--bgcolor);
  color: #fff;
  width: 100%;
}

/* police d'écriture*/
.textWithShadow {
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.textWithShadowNavbarBrand {
  font-weight: bold;
  text-shadow: 2px 2px 4px black, 0 0 1em rgba(255, 255, 255, 0.4);
}

.textWithShadowH3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.textWithShadowH5 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}

.textWithShadowP {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-family: lato, sans-serif;
  text-align: left;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  text-align: left;
}

blockquote {
  text-align: center;
}

/*background App*/
.backgroundHome {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  z-index: -10;
  background-image: url("./assets/bgBanner.png");
}



/*header*/
.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Assurez-vous que le header est au-dessus des autres éléments */
}


/* style card hero et about*/
.cardBg {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

/*centrer SignIn And Up Form*/
.SignInAndUpForm {
  min-height: 75vh;
}

/* SignIn sépration btns*/
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espace entre les lignes et le texte */
}

.separator-line {
  flex: 1;
  border: 0;
  height: 2px;
  background-color: #000;
}

.separator-text {
  font-size: 1rem;
  color: #666;
  font-weight: bold;
}
