/* App.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* police d'écriture*/
.textWithShadow {
  font-family: serif, sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.textWithShadowNavbarBrand {
  font-family: serif, sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.textWithShadowH3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff; 
  font-family: serif;
}

.textWithShadowH5 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff; 
  font-size: 1.4rem;
  font-family: serif;
}

.textWithShadowP {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff; 
  font-size: 1.2rem;
  font-family: lato, sans-serif;
  text-align: left;
}

h1, h2, h3 {
  text-align: center;
}

p {
  text-align: left;
}

blockquote {
  text-align: center;
}


/*background App*/
.backgroundHome {
    position: absolute;  
    top: 100;
    left: 0;
    width: 100%;
    min-height: 100vh;  
    background-image: url('./assets/bg5short.jpg');  
    background-size: cover;
    background-position: center 0%;
    background-repeat: no-repeat;
    z-index: -1; 
  
}
.backgroundHome::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1; /* Assure que ce pseudo-élément reste derrière les autres contenus */
}

.bgViewRecipesHome{
  background-color: #264653;
}

.container-relative {
  position: relative;
  z-index: 2; /* Met le contenu au-dessus de l'image et du fond semi-transparent */
}

/* style card hero et about*/
.MiseEnForme{
  min-height: 80vh; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.cardBg{
  background: rgba(0, 0, 0, 0.70); 
  border-radius: 10px; 
}