/* Home.css */

#HeroHome {
  min-height: 75vh; 
  max-width: 100%;
  position: relative;

}

.MiseEnFormeHome {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* section des cards de Viewrecipes*/
#ViewRecipesHome {
  max-width: 100%;
  min-height: 100vh;
}




