/*CCS viewRecipes*/

/* centrer les cards */
#viewRecipes {
    display: flex;
    justify-content: center;
    align-items: center;     
    min-height: 100vh;  
    flex-direction: column;
}
    
#viewRecipes .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); 
    gap: 20px; 
    justify-items: center; /* Centrage horizontal des cartes */
    width: 100%;
    max-width: 1200px; /* Limite de largeur globale */
}