/* Home.css */

#HeroHome {
  min-height: 70vh; 
  max-width: 100%;
  position: relative;

}

.MiseEnFormeHome {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* section des cards de Viewrecipes*/
#ViewRecipesHome {
  max-width: 100%;
  min-height: 90vh;
  position: relative; 
  z-index: 1;
}

.header{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.85);
  position: relative; 
  /* passer par dessus viewRecipe*/
  z-index: 1050;
}


.custom-text-shadow {
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.75);
}