/* Home.css */

#HeroHome {
  min-height: 70vh; 
  max-width: 100%;
  position: relative;

}

.MiseEnFormeHome {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* section des cards de Viewrecipes*/
#ViewRecipesHome {
  max-width: 100%;
  min-height: 90vh;
}

.header{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.85);
}


