.cardHeader-addRecipe {
    background-color: rgba(25, 135, 84, 1);
    color: #fff
}


.bg-Recipe {
    background: linear-gradient(to right, #a4a28a 0%, rgba(192, 189, 184, 0.8) 70%, #9c9c8c 100%);
   /* background-color: rgb(243, 241, 234,1) ;*/

}

.custom-class{
    background-color: rgb(243, 241, 234) ;
}

.btnAddRecipe {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.85);
}

.btnAddRecipe:hover {
    transform: translateY(-2px); 
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6); 
}

 /* CKEditor CSS*/
.quill-content p {
    margin: 0.5em 0;
    line-height: 1.2; 
    font-size: 1rem;
  }
  
  .quill-content br {
    display: block;
    margin: 0.2em 0; 
    content: "";
  }
  