.DisplayRecipe-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background: linear-gradient(to right, #ebe3db 0%, rgba(196, 192, 186, 0.8) 70%, #9c9c8c 100%);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    position: relative;
    overflow: hidden;
}

/*  */
.recipe-ingredients,
.recipe-instructions {
  margin-top: 2rem;
}

.recipe-ingredients ul,
.recipe-instructions ol {
  margin-left: 1.5rem;
}


/* effet cahier*/
.custom-left-border{
    border: 5px solid green;
    border-left-width: 12px;
    border-top-width: 8px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: -8px 0 12px rgba(0, 0, 0, 0.2);
}

.custom-right-border{
    border: 5px solid green;
    border-right-width: 12px;
    border-top-width: 8px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 8px 0 12px rgba(0, 0, 0, 0.2);
}


.notebook-decoration::before {
    content: "";
    position: absolute;
   top: 12.9%;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 82%;
    background: linear-gradient(0deg, #ffffff, #ddd);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.75);
}
  
.title-border {
    font-family: "Georgia", serif;
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: 2px dashed green;
    padding: 0 0.1rem 0.5rem 0.1rem;
}

/* partie btn change  */
.bottom-part {
    text-align: center;
} 
.btnDisplayRecipe{
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.85);
}

.btnDisplayRecipe:hover {
    transform: translateY(-2px); 
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6); 
}
