/*header */
/*
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}
*/

.bg-overlay {
  z-index: 3;  
  width: 100%; 
  background: rgba(255, 255, 255, 0.20); 
}

/*navbar*/

.headerD {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.85);
  z-index: 1050; 
}

/*Largeur du menu*/
.custom-dropdown-menu {
  min-width: 300px;
  min-height: 90vh;
 
}
/* Couleur des liens pdt survol */
.custom-dropdown-menu .dropdown-item:hover {
  background-color: #d4edda;
  color: #155724;

}

/*Ajout de transition pour les liens*/
.custom-dropdown-menu .dropdown-item {
  transition: all 0.3s ease-in-out;
}


/* Couleur des liens actif */
.custom-dropdown-menu .dropdown-item.active {
  background-color: #28a745;
  color: #fff;
}
.active-header {
    background-color: #28a745;
   
}

/* Accordéon */
.accordionBody {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

.accordionBody:hover {
  background-color: #d4edda;
  color: #155724;
}

/* Navbar.Brand*/
.link-navbarBrand {
  color: white !important;
  transition: color .3s ease-in-out;
}

.link-navbarBrand:hover{
  color:  #1c7430   !important;
}

/* info bulle*/
.tooltip-text {
  display: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.85rem;
}




