/*header */

/* barre du haut*/
.bg-overlay {
   width: 100%; 
  background: rgba(255, 255, 255, 0.10); 
}

/*********************************/
/* side barre*/
.headerD {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.85);
  /* passer par dessus favorite recipe*/
  z-index: 1050; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Largeur du menu*/
.custom-dropdown-menu {
  min-width: 200px;
  min-height: 90vh;
  overflow-y: auto;
}

/*
.custom-accordion-header {
  height: 50px; 
  display: flex;
  align-items: center;
  padding: 0 ; 
}*/
 .custom-accordion-body{
  height: 40px; 
  align-items: center;
 }

/* Couleur des liens pdt survol */
.custom-dropdown-menu .dropdown-item:hover {
  background-color: #d4edda;
  color: #155724;
}

/*Ajout de transition pour les liens*/
.custom-dropdown-menu .dropdown-item {
  transition: all 0.3s ease-in-out;
}

/* Couleur des liens actif */
.custom-dropdown-menu .dropdown-item.active {
  background-color: #28a745;
  color: #fff;
}
.active-header {
    background-color: #28a745;
}

/* Accordéon */
.accordionBody {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

.accordionBody:hover {
  background-color: #d4edda;
  color: #155724;
}
/*********************************/
/* Navbar.Brand*/
.link-navbarBrand {
  color: white !important;
  transition: color .3s ease-in-out;

}

.link-navbarBrand:hover{
  color:  #1c7430   !important;
  transform: translateY(-2px);
}

/* info bulle*/
.tooltip-text {
  display: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.85rem;
}

/*********************************/



/*********************************/
/*image de profil*/
.btnNav {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.85);
    
}

.btnNav:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6); 
}

/* Default styles for larger screens */
.imageBtn{
  height: 3.5rem;
  width: 3.5rem;
  object-fit: cover;
}

/* Styles for tablets (e.g., screens smaller than 768px) */
@media (max-width: 768px) {

  .btnNav{
    height: 2.5rem;
    width: 3rem;
  }
  .btnNav:hover {
    transform: translateY(0px);
  }
}

