/* Hero */

/*
.hero {
    height: 50vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  */
  .hero-card {
    background: rgba(0, 0, 0, 0.70); 
    border-radius: 10px; 
  }
