
.recipe-filters {
    padding: 20px;
    background-color: var(--bgcolor);
    color: white;
    border-radius: 8px;
    border: 3px solid red;
  }
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  .custom-checkbox {
    display: flex;
    align-items: center;
    background-color: var(--bgcolor);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .custom-checkbox:hover {
    background-color: #90ee90; /* Vert clair */
  }
  
  .custom-checkbox input[type="checkbox"] {
    margin-right: 10px;
  }


